<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main-content">
    <!--NOI DUNG O DAY-->
    <div class="row">
        <div class="col-md-12">
            
            <a th:href="@{/admin/role/add}" class="btn btn-primary">Thêm Role</a>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách role</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Role Name</th>
                            <th>Role Code</th>
                            <th style="width: 40px">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item:${pageResult.getList()}">
                            <td>
                                <div th:text="${item.getId()}"></div>
                            </td>

                            <td>
                                <div th:text="${item.getName()}"></div>
                            </td>

                            <td>
                                <div th:text="${item.getCode()}"></div>
                            </td>

                            <td>
                                <a th:href="@{/admin/role/edit(id=${item.getId()})}"
                                   class="btn btn-block btn-warning btn-sm">Sửa</a>
                                <a th:href="@{/admin/role/delete(id=${item.getId()})}"
                                   class="btn btn-block btn-danger btn-sm">Xoá</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
   <!--                     <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>-->

                        <li
                                th:each="pageNumber:${#numbers.sequence(1, pageResult.getTotalPage())}"
                                th:attr="class=${pageResult.getActivePage()==pageNumber ? 'active page-item' : 'page-item'}"
                                th:if="${pageNumber>0}">
                            <a class="page-link" th:href="@{/admin/role(page=${pageNumber})}"
                               th:text="${pageNumber}"
                            ></a>
                        </li>

                    </ul>



                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
</body>
</html>